body {
	background: #3E4649;
	color: #f7f7f7;
	font-family: 'Helvetica', sans-serif;
}
.links .row {
	margin-bottom:12px;
}

.links .list-unstyled {
	float: none;
	text-align: center;
}

.centerBlock {
	display: table;
	margin: 0 auto;
} 
.jumbotron {
	background: #3E4649;
	color: #f7f7f7;
	font-family: 'Helvetica', sans-serif;
	
}
.list-unstyled a {
	color: inherit;
	font-family: inherit;
	font-size: 24px;
	text-decoration: none;
}
.list-unstyled img{
	border:10px solid #33ccff;
	border-radius:500px;
	
}
.jumbotron ul{
	list-style-type: none;
	text-align: center;
	float: none;
}
.jumbotron li{
	display: inline-block;
	font-size: 16px;
	border-left: 2px solid;
}
.jumbotron #one{
	border-left: none;
}
@media screen and (max-width:500px) {
   .jumbotron li {
       max-width: 100%;
       padding: 0px 5px 0px 5px;
       float: none;
       text-align: center;
       display: block;
	   border-left: none;
   }
}
ul img:hover{
	border: 10px solid #FFC12B;
	box-shadow: 0 0 20px #FFC12B;
}