/*-- Sets properties for index body --*/
#index-body {
    background-color: #eaeaea;
	color: #33363b;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
}

/*-- Properties for header --*/
#info-header {
    text-align: center;
}
#info-header h1 {
    font-size: 400%;
}
#info-header p {
    font-size: 200%;
}
.skills-list-hr {
    height: 0.1em;
    background-color: #368cbf !important;
    color: #368cbf !important;
}
#skills-list li{
    font-size: 140%;
}

/*-- Properties for circle-links --*/
.list-unstyled a {
	color: inherit;
	font-family: inherit;
	font-size: 200%;
	text-decoration: none;
}
.list-unstyled img{
	border:10px solid #33ccff;
	border-radius:500px;
	
}
ul img:hover{
	border: 10px solid #FFC12B;
	box-shadow: 0 0 20px #FFC12B;
}

/*-- Media queries for index --*/
@media only screen and (max-width: 400px) {
    #info-header p{
        font-size: 150%;
    }
}

@media only screen and (max-width: 1367px) {
    #skills-list li{
        font-size: 125%;
    }
}

/*-- Properties for index/resume body --*/
#resume {
    color: #33363b; 
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    background-color: #eaeaea;
}
#contact-list {
    vertical-align: bottom;
}
.resume-hr {
    height: 0.05em;
    background-color: #368cbf !important;
    color: #368cbf !important;
}
#contact-list {
    vertical-align: baseline;
}
.resume-link-list {
}
.resume-list-item {   
    font-size: 125%;
}
resume-list-item {
    text-decoration: none;
}
.resume-list-item a:hover {
    text-decoration: none;
    box-shadow: 0px 4px 0px #F7C331;
}
/*-- Media queries for resume --*/
@media only screen and (max-width: 400px) {

}













































