
.GfxSetting_Msn_DarkBlue
{
    background-color: #0D37C3;
    background-color: #941A88;
    background-color: #6BFF00;
}
.GfxSetting_Msn_Green_Default
{
    background-color: #6ABF0B;
    background-color: #8C0C7F;
    background-color: #FFE500;
}
.GfxSetting_Msn_Lilac
{
    background-color: #525CF5;
    background-color: #8C0C7F;
    background-color: #FFE500;
}
.GfxSetting_Msn_LumiGreen
{
    background-color: #2D9314;
    background-color: #8C0C7F;
    background-color: #005BFF;
}
.GfxSetting_Msn_Marigold
{
    background-color: #EEAA05;
    background-color: #8C0C7F;
    background-color: #17774F;
}
.GfxSetting_Msn_MothGreen
{
    background-color: #425113;
    background-color: #8C0C7F;
    background-color: #FFE500;
}
.GfxSetting_Msn_NightLumiGreen
{
    background-color: #09950B;
    background-color: #8C0C7F;
    background-color: #005BFF;
}
.GfxSetting_Msn_NightMarigold
{
    background-color: #D88602;
    background-color: #5C0A61;
    background-color: #05E7CE;
}
.GfxSetting_Msn_Option_Yellow
{
    background-color: #FBD704;
    background-color: #8C0C7F;
    background-color: #1BC3D8;
}
.GfxSetting_Msn_Orange
{
    background-color: #FF6C00;
    background-color: #6C0676;
    background-color: #FFE500;
}
.GfxSetting_Msn_Soda
{
    background-color: #8EDBB8;
    background-color: #8C0C7F;
    background-color: #FFE500;
}
.GfxSetting_Msn_Turquoise
{
    background-color: #0DA182;
    background-color: #8C0C7F;
    background-color: #FFE500;
}
.GfxSetting_Msn_Yellow
{
    background-color: #8EBB1A;
    background-color: #8C0C7F;
    background-color: #FFE500;
}
.GfxSetting_Tut_Enemy
{
    background-color: #000000;
    background-color: #A5267F;
    background-color: #FFE500;
}
.GfxSetting_Vss_Gachi_DarkblueYellow
{
    background-color: #0D195E;
    background-color: #B97E1A;
    background-color: #FF5937;
}
.GfxSetting_Vss_Gachi_GreenMazenta
{
    background-color: #79B726;
    background-color: #A52B85;
    background-color: #ECC50A;
}
.GfxSetting_Vss_Gachi_GreenOrange
{
    background-color: #319471;
    background-color: #BF3E24;
    background-color: #B986ED;
}
.GfxSetting_Vss_Gachi_LightgreenBlue
{
    background-color: #85E378;
    background-color: #3D59DE;
    background-color: #FFA427;
}
.GfxSetting_Vss_Gachi_LumigreenPurple
{
    background-color: #60AB43;
    background-color: #891A7F;
    background-color: #FFB500;
}
.GfxSetting_Vss_Gachi_SodaPink
{
    background-color: #65B799;
    background-color: #9736B2;
    background-color: #8ED11E;
}
.GfxSetting_Vss_Gachi_YellowLilac_Default
{
    background-color: #DD9016;
    background-color: #4D24A3;
    background-color: #A1E896;
}
.GfxSetting_Vss_Option_BlueOrange
{
    background-color: #2E0CB5;
    background-color: #F86300;
    background-color: #FDFF00;
}
.GfxSetting_Vss_Regular_BlueLime
{
    background-color: #26229F;
    background-color: #91B00B;
    background-color: #FF7F19;
}
.GfxSetting_Vss_Regular_GreenPurple
{
    background-color: #799516;
    background-color: #6E068A;
    background-color: #118991;
}
.GfxSetting_Vss_Regular_LightBlueDarkBlue
{
    background-color: #228CFF;
    background-color: #E85407;
    background-color: #EFF66E;
}
.GfxSetting_Vss_Regular_LightBlueYellow
{
    background-color: #007EDC;
    background-color: #E1A307;
    background-color: #D01D79;
}
.GfxSetting_Vss_Regular_OrangeBlue_Default
{
    background-color: #CF581B;
    background-color: #141494;
    background-color: #FFFF00;
}
.GfxSetting_Vss_Regular_PinkBlue
{
    background-color: #C93457;
    background-color: #048188;
    background-color: #890B5D;
}
.GfxSetting_Vss_Regular_PinkGreen
{
    background-color: #C83D79;
    background-color: #409D3B;
    background-color: #2BDCED;
}
.GfxSetting_Vss_Regular_PinkOrange
{
    background-color: #DA3781;
    background-color: #ED9408;
    background-color: #A577FF;
}
.GfxSetting_Vss_Regular_TurquoiseOrange
{
    background-color: #20837D;
    background-color: #DF641A;
    background-color: #AD7710;
}