body {
	background: #3E4649;
	color: #f7f7f7;
	font-family: 'Helvetica', sans-serif;
}
.jumbotron {
	background: #3E4649;
	color: #f7f7f7;
	font-family: 'Helvetica', sans-serif;
	
}
.well {
	background: #202527;
}
.pagination-centered {
	text-align: center;
}
#pkname{
	text-transform: capitalize;
}
ul{
	list-style-type: none;
}
